@font-face {
  font-family: "Cardo-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Cardo-Regular"), url(../fonts/Cardo/Cardo-Regular.woff2),
    url(../fonts/Cardo/Cardo-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "Cardo-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Cardo-Bold"), url(../fonts/Cardo/Cardo-Bold.woff2),
    url(../fonts/Cardo/Cardo-Bold.woff);
  font-display: swap;
}
@font-face {
  font-family: "Cardo-Italic";
  font-weight: 400;
  font-style: normal;
  src: local("Cardo-Italic"), url(../fonts/Cardo/Cardo-Italic.woff2),
    url(../fonts/Cardo/Cardo-Italic.woff);
  font-display: swap;
}
@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Inter-Regular"), url(../fonts/Inter/Inter-Regular.woff2),
    url(../fonts/Inter/Inter-Regular.woff);
  font-display: swap;
}
@font-face {
  font-family: "Inter-Light";
  font-weight: 300;
  font-style: normal;
  src: local("Inter-Light"), url(../fonts/Inter/Inter-Light.woff2),
    url(../fonts/Inter/Inter-Light.woff);
  font-display: swap;
}
@font-face {
  font-family: "Inter-Bold";
  font-weight: 600;
  font-style: normal;
  src: local("Inter-Bold"), url(../fonts/Inter/Inter-Bold.woff2),
    url(../fonts/Inter/Inter-Bold.woff);
  font-display: swap;
}
