body {
  font-size: 18px;
  color: $defoult;
  line-height: 28px;
  @extend %inter-400;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  position: relative;
  color: $dblue;
  text-align: center;
  @extend %cardo-400;
  font-size: 42px;
  line-height: 50.4px;
  text-transform: capitalize;
  margin-bottom: 36px;
  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $accent;
  }
}

.section-title-left {
  position: relative;
  color: $dblue;
  @extend %cardo-400;
  font-size: 42px;
  line-height: 50.4px;
  margin-bottom: 58px;
  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    bottom: -23px;
    left: 0;
    background-color: $accent;
  }
}

.order-btn {
  display: inline-block;
  padding: 18px 52px;
  background-color: $accent;
  color: $dblue;
  @extend %cardo-400;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
    color: #ffffff;
  }
  &-transparent {
    background-color: transparent;
    border: 2px solid $accent;
    &:hover {
      color: $dblue;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

.portret {
  position: relative;

  border: 10px solid $accent;
  &-img {
    position: absolute;

    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(27, 55, 100, 0.3);
  }
}
