body {
  font-size: 18px;
  color: $defoult;
  line-height: 28px;
  @extend %inter-400;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.order-btn {
  padding: 18px 52px;
  background-color: $accent;
  color: #1b3764;
  @extend %cardo-400;
  letter-spacing: 0.57px;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
    color: #ffffff;
  }
}
