$accent: #ffca42;
$defoult: #969aa0;
$dblue: #1b3764;
$bg: #f4f8ff;
// $border: #ececec;

%cardo-400 {
  font-family: "Cardo-Regular", sans-serif;
  font-weight: 400;
}
%cardo-700 {
  font-family: "Cardo-Bold", sans-serif;
  font-weight: 700;
}
%cardo-i {
  font-family: "Cardo-Italic", sans-serif;
  font-weight: 400;
}
%inter-400 {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}
%inter-600 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 600;
}
%inter-l {
  font-family: "Inter-Light", sans-serif;
  font-weight: 300;
}

// %btn{
//     cursor: pointer;
//     padding: 12px 36px;
//     width: fit-content;
//     text-transform: uppercase;
//     color: #ffffff;
//     @extend %roboto-400;
//     background-color: $accent;
//     border: 1px solid transparent;
//     box-shadow: 7px 7px 20px #fe3e575e;
//     &:hover {
//             background-color: #ff0021;
//             border: 1px solid #ffffff;
//         }
// }

// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }
