@import "vars";
@import "fonts";
@import "reset.scss";
@import "libs.scss";
@import "global";

.header {
  background-color: $dblue;
  &__inner {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left,
    &-right {
      display: flex;
      align-items: center;
    }
  }
  &__logo {
    margin-right: 35px;
  }
  &__social {
    display: flex;
    &-item {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid #ffffff;
      background-color: #ffffff;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-img {
      filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(49deg)
        brightness(10%) contrast(100%);
    }
  }
  &__nav {
    &-list {
      display: flex;
    }
    &-item {
      color: #f6f8fc;
      font-size: 17px;
      line-height: 25.5px;
      letter-spacing: 0.17px;
      &:not(:last-child) {
        margin-right: 46px;
      }
      &:hover {
        color: $accent;
      }
    }
  }
  &__cart {
    margin-left: 38px;
    margin-right: 50px;
  }
}

// ----------------------------------- WELCOME ------------------------

.welcome {
  background-color: $dblue;
  &__inner {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    &-subtitle {
      position: relative;
      color: #ffffff;
      @extend %cardo-400;
      font-size: 21px;
      line-height: 36px;
      letter-spacing: 1.2px;
      text-transform: capitalize;
      padding-left: 50px;
      margin-bottom: 10px;
      &::before {
        position: absolute;
        content: "";
        width: 35px;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: $accent;
      }
    }
    &-title {
      color: #ffffff;
      @extend %cardo-400;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 1.3px;
      margin-bottom: 24px;
    }
    &-text {
      color: #b4c7e7;
      @extend %inter-400;
      line-height: 28.5px;
      margin-bottom: 42px;
    }
    &-links {
      display: flex;
      align-items: center;
      margin-bottom: 46px;
    }
    &-link {
      position: relative;
      margin-left: 50px;
      color: #ffffff;
      @extend %cardo-400;
      line-height: 30.4px;
      letter-spacing: 0.38px;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
      }
    }
    &-stats {
      display: flex;
      &-item {
        position: relative;
        padding-left: 26px;
        &:not(:last-child) {
          margin-right: 60px;
        }
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 16px;
          top: 5px;
          left: 0;
          border-radius: 50%;
          background-color: $accent;
        }
      }
      &-title {
        color: #ffffff;
        @extend %cardo-400;
        font-size: 24px;
        line-height: 28.8px;
        letter-spacing: 0.48px;
        margin-bottom: 12px;
      }
      &-text {
        color: #b4c7e7;
        @extend %inter-400;
        font-size: 17px;
        line-height: 27px;
      }
    }
  }
}

// ----------------------------------- WELCOME END ------------------------

// ----------------------------------- AUTHOR BOOKS ------------------------

.author-books {
  padding: 126px 0 90px;
  &__inner {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    align-items: center;
    &-img {
      width: 285px;
      height: auto;
      margin-right: 30px;
      background: url(<path-to-image>), lightgray 50% / cover no-repeat;
      box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.2);
    }
    &-info {
      &-title {
        color: $dblue;
        @extend %cardo-400;
        font-size: 32px;
        line-height: 38.4px;
        letter-spacing: 0.32px;
        margin-bottom: 8px;
      }
      &-price {
        color: $accent;
        @extend %inter-400;
        font-size: 21px;
        line-height: 33px;
        margin-bottom: 18px;
      }
      &-text {
        max-width: 287px;
        margin-bottom: 13px;
      }
      &-type {
        position: relative;
        display: block;
        color: $dblue;
        @extend %cardo-400;
        font-size: 24px;
        line-height: 28.8px;
        padding-left: 26px;
        margin-bottom: 27px;
        &::after {
          position: absolute;
          content: "";
          width: 16px;
          height: 16px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          border-radius: 50%;
          background-color: $accent;
        }
      }
    }
  }
}

// ----------------------------------- AUTHOR BOOKS END ------------------------

// ----------------------------------- ABOUT AUTHOR ------------------------

.about-author {
  background-color: $bg;
  padding: 140px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__photo {
    width: 525px;
    height: 605px;
    margin-left: 40px;
    margin-right: 150px;
  }
  &-img {
    position: absolute;
    top: -40px;
    left: -40px;
    width: 525px;
    height: auto;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 20px 0px rgba(27, 55, 100, 0.3);
  }
  &__info {
    &-text {
      width: 560px;
      margin-bottom: 34px;
    }
    &-stats {
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
      &-item {
        position: relative;
        padding: 0 12px;
        &:not(:first-child) {
          &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            top: 0;
            left: -20px;
            background-color: $accent;
          }
        }
      }
      &-num {
        color: $dblue;
        @extend %cardo-400;
        font-size: 54px;
        line-height: 77px;
      }
      &-text {
        line-height: 21.6px;
      }
    }
    &-contacts {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      width: fit-content;
      background-color: $dblue;
      &-img {
        margin-right: 40px;
      }
      &-name {
        color: $accent;
        @extend %cardo-400;
        font-size: 22px;
        line-height: 26.4px;
        margin-bottom: 10px;
      }
      &-email,
      &-phone {
        display: block;
        width: 265px;
        letter-spacing: 0.19px;
        margin-bottom: 4px;
      }
    }
  }
}

// ----------------------------------- ABOUT AUTHOR END ------------------------

// ----------------------------------- TRUSTED ------------------------

.trusted {
  padding: 110px 0 128px;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  &__item {
    &-img {
      margin: 0 auto;
      margin-bottom: 20px;
    }
    &-title {
      color: $dblue;
      text-align: center;
      @extend %cardo-400;
      font-size: 24px;
      line-height: 28.8px;
      margin-bottom: 20px;
    }
    &-text {
      width: 268px;
      text-align: center;
    }
  }
}

// ----------------------------------- TRUSTED END ------------------------

// ----------------------------------- GET BOOK ------------------------

.getbook {
  padding: 70px 0;
  background-color: $dblue;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    &-title {
      color: #ffffff;
    }
    &-text {
      max-width: 538px;
      margin-bottom: 27px;
    }
    &-btn {
      color: #ffffff;
      &:hover {
        color: #ffffff;
        box-shadow: 0px 0px 6px 0px $accent;
      }
    }
  }
}

// ----------------------------------- GET BOOK END ------------------------

// ----------------------------------- LEARN ------------------------

.learn {
  padding: 140px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-gap: 30px;
    &-item {
      display: inline-block;
      width: 300px;
      height: 272px;
      padding: 30px;
      color: $dblue;
      @extend %cardo-400;
      background-color: $bg;
    }
    &-num {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $accent;
      text-align: center;
      font-size: 23px;
      line-height: 50px;
      margin-bottom: 30px;
    }
    &-text {
      font-size: 24px;
      line-height: 33.6px; /* 140% */
    }
  }
  &__photo {
    width: 535px;
    height: 628px;
    &-img {
      top: -20px;
      left: -20px;
      // width: 525px;
      // height: auto;
    }
  }
}

// ----------------------------------- LEARN END ------------------------

// ----------------------------------- ENCHANCE ------------------------

.enchance {
  padding: 116px 0 130px;
  background-color: $bg;
  &__inner {
    margin: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  &__item {
    padding: 42px 40px;
    background-color: #ffffff;
    &-title {
      color: $dblue;
      @extend %cardo-400;
      font-size: 24px;
      line-height: 28.8px;
      margin-bottom: 20px;
    }
    &-text {
      line-height: 32px;
    }
    &-data {
      display: inline-block;
      margin-right: 45px;
      &-title {
        position: relative;
        display: inline-block;
        padding-left: 26px;
        color: $dblue;
        @extend %cardo-400;
        font-size: 22px;
        line-height: 30.8px;
        margin-right: 10px;
        &::before {
          position: absolute;
          content: "";
          width: 16px;
          height: 16px;
          left: 0;
          top: 7px;
          border-radius: 50%;
          background-color: $accent;
        }
      }
      &-count {
        font-size: 17px;
        line-height: 27px;
      }
    }
  }
  &__button,
  &__question {
    display: block;
    margin: 0 auto;
  }
  &__question {
    width: fit-content;
    text-align: center;
    margin-top: 34px;
    &-link {
      color: $dblue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// ----------------------------------- ENCHANCE END ------------------------

// ----------------------------------- FOOTER ------------------------

.footer {
}

// ----------------------------------- FOOTER END --------------------

@import "media";
